.Main-banner {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.banner-title {
  font-size: var(--large-title-size);
  font-weight: 600;
  color: var(--content-color-main);
}

.dark .banner-title {
  color: var(--content-color-dark);
}

.banner-subtitle {
  margin-top: 0.7em;
  font-size: var(--subtitle-font);
  color: var(--content-color-main);
}

.dark .banner-subtitle {
  color: var(--content-color-dark);
}

.avatar {
  margin: 2.5em 0;
  transition: 2s;
  width: 0px;
  transition: width 3s;
}

.avatar-animation {
  position: relative;
}

.greeting-message {
  position: absolute;
  left: 110%;
  /* background-color: var(--background-color-dark); */
  color: var(--content-color-main);
  padding: 10px;
  /* width: 370px; */
  width: calc(100vh * 0.45);
  overflow: hidden;
  text-align: left;
  top: 30%;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12); */
  border-radius: 15px;
  display: none;
}

.dark .greeting-message {
  /* background-color: var(--background-color-main); */
  color: var(--content-color-dark);
}

.greeting-text {
  color: inheir;
  font-size: var(--para-font);
  overflow: hidden;
}

@media screen and (max-width: 769px) {
  .Main-banner {
    text-align: left;
  }

  .avatar-animation {
    position: relative;
    /* align-self: flex-start; */
  }

  .greeting-message {
    position: relative;
    left: 0;
    padding: 0 10px;
    /* background-color: var(--background-color-dark); */
    overflow: hidden;
    top: 0;
    /* width: 50%; */
  }
}
